body
{
    background-size: cover;
    background-position: center;
}

#status{
    background-color: white;
    color: black;
}

#myModal{
    background-color: aqua;
}

.modal-dialog{    
    width: 90%;    
}

.copy_right_footer{
    width: 100%;
    bottom: 0;
    position: fixed;
}